{% extends 'base.html' %}

{% block meta %}
<title>Login</title>
{% endblock meta %}

{% block content %}
<div class="login d-flex flex-column justify-content-center align-items-center">

    <h1 class="m-3 fw-bold text-center">LOGIN</h1>
    <form method="POST" action="" class="d-flex justify-content-center">
        {% csrf_token %}
        <table>
            <tr class="d-flex flex-column">
                <td class="fw-bold">Username: </td>
                <td><input type="text" name="username" placeholder="Username" class="form-control" /></td>
            </tr>
            <tr class="d-flex flex-column">
                <td  class="fw-bold">Password: </td>
                <td><input type="password" name="password" placeholder="Password" class="form-control" /></td>
            </tr>
            <tr class="d-flex flex-column align-items-center">
                <td></td>
                <td><input class="btn btn-outline-primary m-3 login_btn" type="submit" value="Login" /></td>
            </tr>
        </table>
    </form>

    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{message}}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <p>Belum mempunyai akun? <a href="{% url 'wishlist:register' %}">Buat Akun</a></p>
</div>
{% endblock content %}